[submodule "Euterpea2"]
	path = Euterpea2
	url = git@github.com:yosukeueda33/Euterpea2.git
[submodule "PortMidi"]
	path = PortMidi
	url = git@github.com:yosukeueda33/PortMidi-haskell.git
[submodule "vty-windows"]
	path = vty-windows
	url = https://github.com/chhackett/vty-windows.git
