name: Haskell CI (Stack)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install system dependencies
      run: sudo apt install -y libasound2-dev libfreetype-dev libsdl2-dev libglew-dev
 
    - name: Set up Haskell
      uses: haskell-actions/setup@v2
      with:
        ghc-version: '8.6.5'
        enable-stack: true
    - name: Cache ~/.stack
      uses: actions/cache@v4
      with:
        path: ~/.stack
        key: ${{ runner.os }}-stack-${{ hashFiles('**/stack.yaml.lock') }}
        restore-keys: |
          ${{ runner.os }}-stack-
    - name: Install dependencies
      run: stack build --only-dependencies
    - name: Build
      run: stack build --test --no-run-tests
    - name: Run tests
      run: stack test